<nav id="nav">
  <h2 id="nav-header">
    {% if 'username' in session %} Hello, {{ session['username'] }} {%
    endif %}
  </h2>
  <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Home</a>
  <a class="btn-nav" href="{{ url_for('authentication_bp.register') }}">Register</a>
  <a class="btn-nav" href="{{ url_for('authentication_bp.login') }}">Login</a>
  <a class="btn-nav" href="{{ url_for('authentication_bp.logout') }}">Logout</a>
  <br>

    <div>
        <h3>
          <a class="btn-nav" href="{{ url_for('movies_bp.retrieve_movie')}}">Browse Movies by Title</a>
          <a class="btn-nav" href="{{ url_for('movies_bp.movies_by_director')}}">Browse Movies by Director</a>
          <a class="btn-nav" href="{{ url_for('movies_bp.movies_by_actor')}}">Browse Movies by Actor</a>
          <a class="btn-nav" href="{{ url_for('movies_bp.movies_by_genre')}}">Browse Movies by Genre</a>
        </h3>
    </div>
    <div>
    <h3>
      <select required onchange="location = this.value">
        <option value="" disabled selected hidden>Select Genre</option>
        {% for key in genre_urls %}
          <option value="{{ genre_urls[key] }}"> {{ key }}</option>
        {% endfor %}
        </select>
      </h3>
    </div>

  <br>
  <div>
    <h3 id="search-bar">
      <label>Search Movies:</label>
      <br>
      <input type="text"><br>
    </h3>
  </div>


  <div id="nav-footer">
    COMPSCI 235 Software Development Methodologies
  </div>
</nav>



